@import 'variables';

@import 'components/fileWindow';
@import 'components/miradorViewer';
@import 'components/editorPreviewWindows';
@import 'components/helpWindow';

// Global Styles
body {
  margin-top: 50px;
  height:100%;
  background-color: $default-background-color;
  color: $default-font-color;
  max-width: 100%;
  overflow-x: hidden;
}

#resizable-editor {
  position:relative;
}
#editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.workspace-container .layout-slot{
  height:100% !important;
  width: 100% !important;
}


#views-menu{
  z-index:19000
}

//Hack to fix Mirador add button; may be fixed in PR https://github.com/ProjectMirador/mirador/pull/1466
.mirador-container .slotIconContainer {
  top:20%;
  margin-top:-100px;
}
.ms-textarea-wrapper {
  margin-top:10px;
  margin-bottom: 5px;
}
.ms-textarea-title{
  font-size:18px;
  margin-left: 5%;
  font-weight:bold;
}

.ms-textarea{
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  rows:1;
  resize: none;
  white-space: nowrap;
  overflow-x: scroll;
}

.toggle-ms-display-type {
  margin-left: 15px;
}

.view-active::before{
  content: "✓ ";
}

#editor-wrapper.side-by-side {
  flex-direction: row;

	#xml-wrapper{
    display: block;
    .window {
      width: 100%;
      height: 50%;
    }
  }
  #mirador-viewer{
    width: 50%;
    height: 100%;
  }
}
